.pops
{
    text-decoration: none;
    color:rgb(247, 191, 191);
    display: flex;
    justify-content: flex-end;
    height: 30px;
    position: relative;
    bottom: 240px;
}
.header_contact
{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    position: relative;
    color:rgb(247, 191, 191);
    bottom: 250px;
}
.family1
{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    flex-grow: 1;
    color:rgb(247, 191, 191);
    position: relative;
    bottom:120px;
}

.main_text
{
    align-items: center;
    display: flex;
    color:rgb(247, 191, 191);
    max-width: 800px;
    position:relative;
    bottom:160px;
    margin: 0 auto;  
}
.main_table
{
    align-items: center;
    justify-content: center;
    display: flex;
}
body{
    background-image:url(image/i.webp);
    background-attachment: fixed;
} 
table {
    background: rgb(253, 199, 48); 
    border: 5px double #000; 
    max-width: 800px;
    width: 800px;
    position:relative;
    bottom:130px;
}
td, th{
    border: 1px solid #050000;
}
.line{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    background-color:rgb(253, 80, 0); 
    max-width: 800px;
    position:relative;
    bottom:180px;
    margin: 0 auto;
}
.img_head{
    width:200px;
    height:180px;
    position: relative; 
    top: 30px; 
    border-radius:25%;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.technology{
    display:flex;
    max-width: 800px;
    border: 1px solid rgb(99, 40, 1);
    background-color: rgb(99, 40, 1);
    color: rgb(1, 255, 213);
    margin: 0 auto;
    justify-content: center;
    position:relative;
    bottom:100px;
    border-radius:3%
}
.root{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
.child{
    display: flex;
    justify-content: center;
    position:relative;
    bottom:70px;
}
.root_img{
    width:100px;
    height:100px;
    border-radius:50%;
    position:relative;
    bottom:65px;
}
.forma_head{
    display:flex;
    max-width: 800px;
    border: 1px solid rgb(99, 40, 1);
    background-color: rgb(99, 40, 1);
    color: rgb(1, 255, 213);
    margin: 0 auto;
    justify-content: center;
    position:relative;
    bottom:50px;
    border-radius:3%
}
.forma{
    display:grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    position:relative;
    bottom: 40px;
}
.forma_text{
   
}
.button{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position:relative;
    height: 20px;
}
.wraper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;     
}
.todo_list{
    background: #E6E6E6;
    border-radius: 15px;
    height: 70%;
    width: 500px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.todo_list_contols{
    display: grid;
    grid-template-columns: 70% 30%;
}
.todo_list_input{
    border:none;
    border-radius: 15px 0 0 15px;
    padding: 20px 10px;
}
.todo_list_button{
    background: #FBCC28;
    border-radius: 0 15PX 15PX 0;
    border:none;

}
.todo_list_field{
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}
.todo_list_item{
    background: #FFEBEB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;

}
.todo_list_item_done{
    background:#EBFFED ;
}
.todo_list_item-text{
    flex-grow: 1;
}
